@import "{{ site.theme }}";
body {
  padding-top: 90px;
  padding-bottom: 50px;
  
}

.navbar {
  margin-right: 20px;
  margin-left: 20px;
  background-color: none;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  
}

.logobar{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #291B4C;
	
}

.jumbotron{
	margin-right: 20px;
    margin-left: 20px;
	border-radius: 25px;
}

.thumbnail{
	margin-right: 20px;
    margin-left: 20px;
	width:400px;
	height:500px;
}
.footspacer{
	padding-top: 90px;
  padding-bottom: 15px;
  
}

.invlogo{
	display:block;
    margin:auto;
	
}

.list-inline{
	display:block;
    margin:auto;
}

